:root {
  --primary: #010701;
  --secondary: #010701;
  --highlight: #04f62c;

  --text-header: var(--primary);
  --text-main-headers: var(--highlight);
  --text-links: #00ca22;
  --text-footer: var(--highlight);

  --bg-main: rgba(67, 56, 56, 0.9);
  --bg-dots: var(--highlight);
  --bg-lesson: white;

  --nav-buttons: var(--highlight);
  --nav-buttons-text: white;

  --corner-active: var(--highlight);
  --corner-inactive: #f4f4f4;
  --icons: var(--highlight);
  --footer-icons: var(--highlight);

  --emphasized-bg: #dce8ff;
  --emphasized-border: #aab6d2;
}
